$body-bg: #e5e5e5;
$primary: #7E6C6C;
$secondary: #00171F;
$danger: #EF6461;
$success: #56A3A6;
$warning: #FF934F; 
$info: #6C63FF;
$dark: #00171F;
$grey: #011638;
$dark-grey: #696969;
$white: #fff;
$light: #e2e2e2;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
  "dark-grey": $dark-grey,
  "white": $white,
  "light": $light
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
